src/Internal/Controls/ESRI.ArcGIS.Mapping.Controls.Editor/obj/
src/Internal/Controls/ESRI.ArcGIS.Mapping.Controls.MapContents/obj/
src/Internal/Controls/ESRI.ArcGIS.Mapping.Controls/obj/
src/Internal/Framework/ESRI.ArcGIS.Mapping.Behaviors/obj/
src/Internal/Controls/ESRI.ArcGIS.Mapping.Controls.ArcGISOnline/obj/
src/Internal/AddIns/ESRI.ArcGIS.Mapping.Identify/obj/
src/Internal/AddIns/ESRI.ArcGIS.Mapping.GP/obj/
src/.buildsteps/Localization/obj/
src/.buildsteps/WebsiteStaging/obj/
src/AddIns/Behaviors/CenterQueryStringBehavior/CenterQueryStringBehavior.AddIns/obj/
src/AddIns/Behaviors/ExtentQueryStringBehavior/ExtentQueryStringBehavior.AddIns/obj/
src/AddIns/Behaviors/ScaleLevelQueryStringBehavior/ScaleLevelQueryStringBehavior.AddIns/obj/
src/AddIns/Behaviors/ScaleQueryStringBehavior/ScaleQueryStringBehavior.AddIns/obj/
src/AddIns/Behaviors/WebMapQueryStringBehavior/WebMapQueryStringBehavior.AddIns/obj/
src/AddIns/Tools/Bookmarks/Bookmarks.AddIns/obj/
src/AddIns/Tools/MeasureTool/MeasureTool.AddIns/obj/
src/AddIns/Tools/PrintTool/PrintTool.AddIns/obj/
src/AddIns/Tools/QueryRelatedRecords/QueryRelatedRecords.AddIns/obj/
src/AddIns/Tools/QueryTool/QueryTool.AddIns/obj/
src/AddIns/Tools/SearchTool/SearchTool.AddIns/obj/
src/Builder/ESRI.ArcGIS.Mapping.Builder.Common/obj/
src/Builder/ESRI.ArcGIS.Mapping.Builder.Server/obj/
src/Builder/ESRI.ArcGIS.Mapping.Builder/obj/
src/Extensibility/ESRI.ArcGIS.Client.Application.Controls/obj/
src/Extensibility/ESRI.ArcGIS.Client.Application.Layout/obj/
src/Extensibility/ESRI.ArcGIS.Client.Extensibility/obj/
src/Internal/Framework/ESRI.ArcGIS.Mapping.Core/obj/
src/Internal/Framework/ESRI.ArcGIS.Mapping.DataSources/obj/
src/Internal/Framework/ESRI.ArcGIS.Mapping.Windowing/obj/
src/Viewer/ESRI.ArcGIS.Mapping.Viewer/obj/
output/
src/.buildsteps/Localization/Bin/
src/.buildsteps/WebsiteStaging/Bin/
src/Builder/ESRI.ArcGIS.Mapping.Builder.Common/Bin/
src/Builder/ESRI.ArcGIS.Mapping.Builder.Server/Bin/
src/Builder/ESRI.ArcGIS.Mapping.Builder.Web/ESRI.ArcGIS.Mapping.Builder.xap
src/Builder/ESRI.ArcGIS.Mapping.Builder.Web/bin/
src/Builder/ESRI.ArcGIS.Mapping.Builder.Web/obj/
*.resources
src/Viewer/ESRI.ArcGIS.Mapping.Viewer.Web/Config/Layouts/ResourceDictionaries/Common/OnClickPopupContainerStyle.xaml
src/Viewer/ESRI.ArcGIS.Mapping.Viewer/bin/
src/packages/
*.user
src/.buildsteps/ProjectTemplateCreation/Bin/
src/.buildsteps/ProjectTemplateCreation/obj/
