<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ArcGISSilverlight-Behaviors" version="3.3.0.33" targetFramework="sl50" />
  <package id="ArcGISSilverlight-Bing" version="3.3.0.33" targetFramework="sl50" />
  <package id="ArcGISSilverlight-Core" version="3.3.0.33" targetFramework="sl50" />
  <package id="ArcGISSilverlight-Portal" version="3.3.0.33" targetFramework="sl50" />
  <package id="ArcGISSilverlight-ToolkitDataSources" version="3.3.0.33" targetFramework="sl50" />
</packages>